body{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
    background-image: url("../images/bg.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

